* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.derechos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50%;
  color: #000800;
  font-size: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  background-image: url(../imagenes/central/backgroundtheme2.jpeg);
  width: 100%;
  height: 100%;
  background-size: cover;
}

h1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: #13929b;
  margin: auto;
  font-size: 600%;
  color: #080807;
  border-radius: 10px;
  border: 1px #0a0101 solid;
  text-shadow: 1px 0px 20px beige;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

h1:hover {
  font-size: 650%;
  border: 1px red;
}

h2 {
  text-align: center;
  font-size: 300%;
  color: #080807;
  text-shadow: 5px 5px 8px white;
}

h3 {
  text-align: center;
  font-size: 150%;
  color: #080807;
  font-family: cursive;
}

h3 :hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  letter-spacing: 15px;
  -webkit-transition: 1s;
  transition: 1s;
}

h4 {
  width: 100%;
  text-align: center;
  opacity: 20%;
  letter-spacing: 4px;
}

img {
  width: 220px;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.articulos {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.articulo1 {
  background-color: #8cb0c1;
  width: 250px;
  height: 550px;
  border: 2px solid #6e0d25;
  padding: 10px;
  margin: 10px;
  display: inline-table;
  text-align: center;
  text-align-last: center;
}

.articulo1:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.escapadasMinuto {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: 1px solid #610631;
  padding: 1px;
  margin: 1px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-image: -webkit-gradient(linear, right top, left top, from(#0dcaf0), color-stop(rgba(105, 20, 80, 0.103)), to(#0dcaf0));
  background-image: linear-gradient(to left, #0dcaf0, rgba(105, 20, 80, 0.103), #0dcaf0);
}

.imagenesEscapadas {
  border: 1px solid #020101;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10;
  margin: 5;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.imes {
  width: 200px;
  height: 120px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-inline: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

footer {
  width: 100%;
  height: 200px;
  background-color: #d6d09d;
  text-align: center;
}

.pieDePagina {
  font-size: 600%;
  color: firebrick;
}

.pieDePagina:hover {
  color: darkorange;
  -webkit-transition: 1s;
  transition: 1s;
}

@media only screen and (max-width: 1260px) {
  .pieDePagina {
    font-size: 400%;
    padding: 4%;
  }
}

@media only screen and (max-width: 863px) {
  .pieDePagina {
    font-size: 300%;
    padding: 10%;
  }
}

@media only screen and (max-width: 611px) {
  .pieDePagina {
    font-size: 250%;
  }
}

.A {
  color: #61cfd2;
}

.A:hover:hover {
  color: firebrick;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.donde {
  color: #61cfd2;
}

.donde:hover {
  color: firebrick;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.viajamos {
  color: #61cfd2;
}

.viajamos:hover {
  color: firebrick;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.tituloFinal {
  width: 70%;
  height: 100%;
  float: right;
  background-color: #1e444e;
  font-size: 20;
  padding: 2%;
}

.tituloFinal:hover {
  background-color: #b10f2e;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-shadow: cornsilk 0px 0px 6px;
}

.logo {
  width: 30%;
  height: 50%;
  background-color: #6e0d25;
  text-align: center;
  font-size: 50px;
  font-style: italic;
  color: darkgoldenrod;
}

@media only screen and (max-width: 932px) {
  .logo {
    font-size: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .logo {
    font-size: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.logo:hover {
  -webkit-transform: translate(7%);
          transform: translate(7%);
  -webkit-transition: 1s;
  transition: 1s;
}

.logo2 {
  width: 30%;
  height: 50%;
  background-color: darkblue;
  font-size: 50px;
  font-style: italic;
  color: darkgoldenrod;
  text-align: center;
}

@media only screen and (max-width: 932px) {
  .logo2 {
    font-size: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 600px) {
  .logo2 {
    font-size: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.logo2:hover {
  -webkit-transform: translate(7%);
          transform: translate(7%);
  -webkit-transition: 1s;
  transition: 1s;
}

.logo3 {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: radial-gradient(#6c0202, #1b2b6e);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 50px;
  font-style: italic;
  color: darkgoldenrod;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.logo3:hover {
  -webkit-transition: 1s;
  transition: 1s;
  color: black;
  text-shadow: 1px 1px 2px #f3f3ef;
  font-size: 50px;
  text-align: center;
  opacity: 80%;
}

.contenedorAventura {
  width: 100%;
  height: auto;
  background-color: #8d0829;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33.33% 33.33% 33.33%;
      grid-template-columns: 33.33% 33.33% 33.33%;
  -ms-grid-rows: 300px 300px 300px;
      grid-template-rows: 300px 300px 300px;
  border: 2px solid black;
}

.contenedorCultural {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.caja1 {
  text-align: center;
}

.caja2 {
  text-align: center;
}

.combo1--background {
  background-color: #477998b0;
  border: 1px solid black;
}

.combo1__link__imacul--size {
  width: 410px;
  height: 300px;
  border-radius: 25%;
}

@media only screen and (max-width: 425px) {
  .combo1__link__imacul--size {
    width: 310px;
    height: 300px;
    border-radius: 25%;
  }
}

.combo1__textoCultura--color {
  width: 410px;
  height: auto;
  font-size: 20px;
  margin: 20px;
  font-family: cursive;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media only screen and (max-width: 450px) {
  .combo1__textoCultura--color {
    width: 380px;
    height: auto;
    font-size: 17px;
    margin: 30px;
    font-family: cursive;
    text-align: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media only screen and (max-width: 420px) {
  .combo1__textoCultura--color {
    width: 310px;
    height: auto;
    font-size: 12px;
    margin: 40px;
    font-family: cursive;
    text-align: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.combo2--border {
  border: 1px black solid;
  background-color: #477998b0;
}

.combo2 {
  width: 500px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.combo3--background {
  background-color: #477998b0;
  border: 1px solid black;
}

.combo4--border {
  border: 1px #0b0f06 solid;
  background-color: #477998b0;
}

.item {
  width: 100%;
  height: 100%;
  background: ivory;
}

#item1 {
  background-image: url(../imagenes/aventura/1aventura1024x300.jpeg);
  background-size: cover;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid black;
  padding: 2px;
  background-size: cover;
  background-position: bottom;
  color: #f5f1f100;
}

#item1 span:hover {
  background-color: #0000006b;
  -webkit-transition: 1s;
  transition: 1s;
  color: #f8f2f2;
  text-shadow: 1px 1px 2px #070700;
  font-size: smaller;
  text-align: center;
}

#item2 {
  background-image: url(../imagenes/aventura/3aventura600x800.jpeg);
  background-color: #660e30;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid black;
  padding: 2px;
  background-size: cover;
  background-position: bottom;
  color: #ffffff00;
}

#item2 span:hover {
  background-color: #0000006b;
  -webkit-transition: 1s;
  transition: 1s;
  color: #f8f2f2;
  text-shadow: 1px 1px 2px #070700;
  font-size: smaller;
  text-align: center;
}

#item3 {
  background-image: url(../imagenes/aventura/4aventuratra600x800.jpeg);
  background-color: #ad145c;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid black;
  padding: 2px;
  background-size: cover;
  background-position: bottom;
  color: #ffffff00;
}

#item3 span:hover {
  background-color: #0000006b;
  -webkit-transition: 1s;
  transition: 1s;
  color: #f8f2f2;
  text-shadow: 1px 1px 2px #070700;
  font-size: smaller;
  text-align: center;
}

#item5 {
  background-image: url(../imagenes/aventura/4aventuratrarapel600x400.jpeg);
  background-color: #1dd317;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid black;
  padding: 2px;
  background-size: cover;
  background-position: unset;
  color: #ffffff00;
}

#item5 span:hover {
  background-color: #0000006b;
  -webkit-transition: 1s;
  transition: 1s;
  color: #f8f2f2;
  text-shadow: 1px 1px 2px #070700;
  font-size: smaller;
  text-align: center;
}

#item4 {
  background-image: url(../imagenes/aventura/5aventuratra600x800.jpeg);
  background-color: navy;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid black;
  padding: 2px;
  background-size: cover;
  background-position: bottom;
  color: #ffffff00;
}

#item4 span:hover {
  background-color: #0000006b;
  -webkit-transition: 1s;
  transition: 1s;
  color: #f8f2f2;
  text-shadow: 1px 1px 2px #070700;
  font-size: smaller;
  text-align: center;
}

.contenedorRelax {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33.33% 33.33% 33.33%;
      grid-template-columns: 33.33% 33.33% 33.33%;
  -ms-grid-rows: 300px 300px 300px;
      grid-template-rows: 300px 300px 300px;
  border: 2px solid black;
}

#item6 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid black;
  padding: 2px;
  background-image: url(/imagenes/relax/R-Piscinafull.jpg);
  background-size: cover;
  background-position: bottom;
  border-radius: 20px;
  color: #ffffff00;
  color: #f5f1f100;
}

#item6 span:hover {
  background-color: #0000006b;
  -webkit-transition: 1s;
  transition: 1s;
  color: #f8f2f2;
  text-shadow: 1px 1px 2px #070700;
  font-size: smaller;
  text-align: center;
}

#item7 {
  background-color: #660e30;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid black;
  padding: 2px;
  background-image: url(/imagenes/relax/R-Piscina2600x800.jpeg);
  background-size: cover;
  background-position: bottom;
  border-radius: 20px;
  color: #ffffff00;
}

#item7 span:hover {
  background-color: #0000006b;
  -webkit-transition: 1s;
  transition: 1s;
  color: #f8f2f2;
  text-shadow: 1px 1px 2px #070700;
  font-size: smaller;
  text-align: center;
}

#item8 {
  background-color: #ad145c;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid black;
  padding: 2px;
  overflow: hidden;
  background-image: url(/imagenes/relax/R-rostromujer600x800.jpeg);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  color: #ffffff00;
}

#item8 span:hover {
  background-color: #0000006b;
  -webkit-transition: 1s;
  transition: 1s;
  color: #f8f2f2;
  text-shadow: 1px 1px 2px #070700;
  font-size: smaller;
  text-align: center;
}

#item9 {
  background-color: #1dd317;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid black;
  padding: 2px;
  background-image: url(/imagenes/relax/relax8.jpeg);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  color: #ffffff00;
}

#item9 span:hover {
  background-color: #0000006b;
  -webkit-transition: 1s;
  transition: 1s;
  color: #f8f2f2;
  text-shadow: 1px 1px 2px #070700;
  font-size: smaller;
  text-align: center;
}

#item10 {
  background-color: navy;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid black;
  padding: 2px;
  background-image: url(/imagenes/relax/relax9.jpeg);
  background-size: cover;
  background-position: bottom;
  border-radius: 20px;
  color: #ffffff00;
}

#item10 span:hover {
  background-color: #0000006b;
  -webkit-transition: 1s;
  transition: 1s;
  color: #f8f2f2;
  text-shadow: 1px 1px 2px #070700;
  font-size: smaller;
  text-align: center;
}

@media only screen and (max-width: 960px) {
  h1 {
    background: #026e26;
    font-size: 500%;
  }
}

@media only screen and (max-width: 800px) {
  h1 {
    background: #069aa5;
    font-size: 400%;
  }
}

@media only screen and (max-width: 650px) {
  h1 {
    background: #50e7db;
    font-size: 300%;
  }
}

@media only screen and (max-width: 490px) {
  h1 {
    background: #50e7db;
    font-size: 250%;
  }
}

@media only screen and (max-width: 410px) {
  h1 {
    background: #50e7db;
    font-size: 194%;
  }
}

@media only screen and (min-width: 1000px) {
  h2 {
    color: #108f84;
    font-size: small;
  }
}

@media only screen and (max-width: 300px) {
  .articulo1 {
    background: #ee8906;
  }
}

/* Diversion */
.carru {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.imaCar {
  width: 500px;
  height: 300px;
}

.diver {
  width: 100px;
  font-size: 50px;
}

.lead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 300%;
  text-align: center;
  -webkit-filter: drop-shadow(2px 4px 6px black);
          filter: drop-shadow(2px 4px 6px black);
}

@media only screen and (max-width: 932px) {
  .lead {
    font-size: 500%;
  }
}

@media only screen and (max-width: 761px) {
  .lead {
    font-size: 400%;
  }
}

@media only screen and (max-width: 650px) {
  .lead {
    font-size: 300%;
  }
}

@media only screen and (max-width: 490px) {
  .lead {
    font-size: 200%;
  }
}

.cajon {
  display: flex block;
  width: 100%;
  height: 100%;
  background-color: #37c1cb;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cajonRoman {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../imagenes/romantica/romanback.jpeg);
}

.cajonesRomanticos {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: #050505;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: inline-table;
  text-align: center;
  text-align-last: center;
}

.imaRoman {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.imaRoman2 {
  width: 700px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.texRoman {
  text-align: center;
}

@media only screen and (max-width: 650px) {
  .imaRoman2 {
    width: 500px;
  }
}

@media only screen and (max-width: 540px) {
  .imaRoman2 {
    width: 300px;
  }
}

.roma1 {
  background-color: #8cb0c1;
  width: 250px;
  height: 520px;
  border: 2px solid #6e0d25;
  padding: 10px;
  margin: 10px;
  display: inline-table;
  text-align: center;
  text-align-last: center;
}

.roma2 {
  background-color: #8cb0c1;
  width: 250px;
  height: 520px;
  border: 2px solid #6e0d25;
  padding: 10px;
  margin: 10px;
  display: inline-table;
  text-align: center;
  text-align-last: center;
}

.roma3 {
  background-color: #8cb0c1;
  width: 250px;
  height: 520px;
  border: 2px solid #6e0d25;
  padding: 10px;
  margin: 10px;
  display: inline-table;
  text-align: center;
  text-align-last: center;
}

.roma4 {
  background-color: #8cb0c1;
  width: 250px;
  height: 520px;
  border: 2px solid #6e0d25;
  padding: 10px;
  margin: 10px;
  display: inline-table;
  text-align: center;
  text-align-last: center;
}

.carrusel2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 300px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../imagenes/romantica/romanback.jpeg);
}

.carru2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.close {
  color: #6505e2;
}

.cajaCuotas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  background-color: #01c0b0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h5 {
  height: auto;
}

.tajeta {
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cuotas-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 8em;
  font-size: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cuotas-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 16em;
  font-size: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cuotas-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 24em;
  font-size: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 200px;
  border: #015e01;
  background-color: #1d0477;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tarjeta-visa,
.tarjeta-mastercard,
.tarjeta-amex {
  width: 280px;
  height: 180px;
  border-radius: 13px;
  background-color: #1d0477;
}

.tarjeta-visa {
  background-image: url("../imagenes/diversion/visa.jpeg");
  background-size: cover;
  background-position: center;
}

.tarjeta-mastercard {
  background-image: url("../imagenes/diversion/mastercard.jpeg");
  background-size: cover;
  background-position: center;
}

.tarjeta-amex {
  background-image: url("../imagenes/diversion/amex.jpeg");
  background-size: cover;
  background-position: center;
}

@media only screen and (max-width: 856px) {
  .tarjeta-visa,
  .tarjeta-mastercard,
  .tarjeta-amex {
    width: 200px;
    height: 140px;
    border-radius: 13px;
    background-color: #1d0477;
  }
}

@media only screen and (max-width: 620px) {
  .tarjeta-visa,
  .tarjeta-mastercard,
  .tarjeta-amex {
    width: 150px;
    height: 80px;
    border-radius: 13px;
    background-color: #1d0477;
  }
}

.modal1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.botonesPrincipales {
  display: flexbox;
  width: auto;
  height: auto;
  background-color: #37c1cb;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.estructura {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tablaOfertas {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: 1px solid #610631;
  padding: 1px;
  margin: 1px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-image: -webkit-gradient(linear, right top, left top, from(#0dcaf0), color-stop(rgba(105, 20, 80, 0.103)), to(#0dcaf0));
  background-image: linear-gradient(to left, #0dcaf0, rgba(105, 20, 80, 0.103), #0dcaf0);
}

.striped {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: inline-block;
}
/*# sourceMappingURL=style.css.map */